<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Hello there, <%=asignee%></th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=asignee%></p>
                <p><img src="https://www.istockphoto.com/photo/hand-of-businesswoman-using-laptop-with-icon-social-media-and-social-network-online-gm1166843563-321580639?utm_source=pixabay&utm_medium=affiliate&utm_campaign=SRP_image_sponsored&utm_content=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fproject%2520banner%2F&utm_term=project+banner" alt=""></p>
                <p>
                    You have been assigned a project <br>
                </p>
                <h3>Project details</h3>
                <ul>
                    <li>Project name: <%=projectName%></li>
                    <li>Description: <%=projectDescription%></li>
                    <li style="color: red;">Deadline <%=endDate%></li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>